 <div class="row">
  <div class="col-xs-12">
   <ul class="breadcrumb">
     <li><a href="https://d3c33hcgiwev3.cloudfront.net/_c97e6d7d64d1543c1f4fdac32f72c68f_contactus.html?Expires=1484870400&amp;Signature=Tt4qanV4G0pTxYnFZUQb9vxZjPnS2VriiLNKCB2AY30hWdedIVQ4sLI2aXHuZico-MR2oBbczXek9awVvVtDWqMCcHcdiaG7C4xEN9TkZZLMjU063y020atzSfdE4B8HBacINA5Jv4SOjLy7Qq3ooGj~hWmk9H8OUMZm5Pc-8Sg_&amp;Key-Pair-Id=APKAJLTNE6QMUY6HBC5A#">Home</a></li>
     <li class="active">Contact Us</li>
   </ul>
 </div>
 <div class="col-xs-12">
   <h3>Contact Us</h3>
   <hr>
 </div>
</div>

<div class="row row-content">
 <div class="col-xs-12">
  <h3>Send us your Feedback</h3>
</div>
<div class="col-xs-12 col-sm-9" ng-controller="FeedbackController">
  <form class="form-horizontal" name="feedbackForm" ng-submit="sendFeedback()" novalidate>

    <div class="form-group" ng-class="{ 'has-error' :
    feedbackForm.firstname.$error.required && !feedbackForm.firstname.$pristine }">
    <label for="firstname" class="col-sm-2 control-label">First Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="firstname" name="firstname"
      placeholder="Enter First Name"
      ng-model="feedback.firstName" required>
      <span ng-show="feedbackForm.firstname.$error.required &&
      !feedbackForm.firstname.$pristine" class="help-block">Your First name is
      required.</span>
    </div>
  </div>

  <div class="form-group" ng-class="{ 'has-error' :
  feedbackForm.lastname.$error.required && !feedbackForm.lastname.$pristine }">
  <label for="lastname" class="col-sm-2 control-label">Last Name</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="lastname" name="lastname"
    placeholder="Enter Last Name"
    ng-model="feedback.lastName" required>
    <span ng-show="feedbackForm.lastname.$error.required &&
    !feedbackForm.lastname.$pristine" class="help-block">Your Last name is
    required.</span>
  </div>
</div>

<div class="form-group">
  <label for="telnum" class="col-sm-2 control-label">Contact Tel.</label>
  <div class="col-xs-5 col-sm-4 col-md-3">
    <div class="input-group">
      <div class="input-group-addon">(</div>
      <input type="tel" class="form-control" placeholder="Area code"
      ng-model="feedback.tel.areaCode">
      <div class="input-group-addon">)</div>
    </div>
  </div>
  <div class="col-xs-7 col-sm-6 col-md-7">
    <input type="tel" class="form-control" id="telnum" name="telnum"
    placeholder="Tel. number"
    ng-model="feedback.tel.number">
  </div>
</div>

<div class="form-group" ng-class="{ 'has-error has-feedback' :
feedbackForm.emailid.$invalid && !feedbackForm.emailid.$pristine }">
<label for="emailid" class="col-sm-2 control-label">Email</label>
<div class="col-sm-10">
  <input type="email" class="form-control" id="emailid" name="emailid"
  placeholder="Email"
  ng-model="feedback.email" required>
  <span ng-show="feedbackForm.emailid.$invalid &&
  !feedbackForm.emailid.$pristine" class="glyphicon glyphicon-remove
  form-control-feedback" aria-hidden="true"></span>
  <span ng-show="(feedbackForm.emailid.$invalid ||
  feedbackForm.emailid.$error.required) &&
  !feedbackForm.emailid.$pristine"
  class="help-block">Enter a valid email address.</span>
</div>
</div>

<div class="form-group" ng-class="{ 'has-error' : invalidChannelSelection}">
  <div class="checkbox col-sm-5 col-sm-offset-2">
    <label class="checkbox-inline">
      <input type="checkbox"
      ng-model="feedback.agree">
      <strong>May we contact you?</strong>
    </label>
  </div>
  <div class="col-sm-3 col-sm-offset-1" ng-show="feedback.agree">
    <select class="form-control"
    ng-model="feedback.mychannel"
    ng-options="channel.value as channel.label for channel in channels">
    <option value="">Tel. or Email?</option>
  </select>
  <span ng-show="invalidChannelSelection" class="help-block">Select an
    option.</span>
  </div>
</div>

<div class="form-group">
  <label for="feedback" class="col-sm-2 control-label">Your
    Feedback</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="12"
      ng-model="feedback.comments">
    </textarea>
  </div>
</div>
<div class="form-group">
  <div class="alert alert-info" ng-show="showMessage">
   Gracias por comunicarse con nosotros.
 </div>
</div>
<button type="submit" class="btn btn-primary"
ng-disabled="feedbackForm.$invalid">Send Feedback</button>
</form>
</div>
</div>
