<!DOCTYPE html>
<html lang="en"  ng-app="videostore">

<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
    content must come *after* these tags -->
    <title>Video Store</title>
    <!-- Bootstrap -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/bootstrap-social.css" rel="stylesheet">
    <link href="styles/mystyles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>
      <script src="../bower_components/angular/angular.min.js"></script>
     <!--  <script src="scripts/controllers.js"></script>
     <script src="scripts/services.js"></script> -->

     <div class="container">
      <div class="row row-content" ng-controller="filmDetailController as filmCtrl">
        <div class="col-xs-12">
          <div class="media-list">
            <div class="media">
              <div class="media-left media-middle">
                <a href="#">
                  <img class="media-object img-thumbnail" width="150" height="150" ng-src={{filmCtrl.film.image}} alt="video store">
                </a>
              </div>
              <div class="media-body">
                <h2 class=media-heading>
                  {{filmCtrl.film.title}}
                  <span class="label label-danger">{{filmCtrl.film.release}}</span>
                  <span class="badge">{{filmCtrl.film.price | currency}}</span>

                </h2>
                <p>{{filmCtrl.film.description}}</p>
                <p>Duración: {{filmCtrl.film.length}} min.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-10 col-xs-offset-2">
          <div class="form-group">
            <label for="usr">Ordenar por:</label>
            <input type="text" class="form-control" id="filterBy" name="filterBy"
            ng-model="filmCtrl.filterBy"
            placeholder="Opciones: author, rating, comment">
          </div>
        </div>
        <div class="col-xs-10 col-xs-offset-2">
          <blockquote ng-repeat="comment in filmCtrl.film.comments | orderBy: filmCtrl.filterBy">
            <p>{{comment.rating}} Estrellas</p>
            <p>{{comment.comment}}</p>
            <footer>{{comment.author}}
              <cite title="Source Title">{{comment.date | date:'medium'}}</cite>
            </footer>
          </blockquote>
        </div>
      </div>
      <div class="row row-content" ng-controller="FilmCommentController as cmntCtrl">
        <form class="form-horizontal" name="cmntForm" ng-submit="submitComment()"novalidate>
          <div class="form-group" ng-class="{ 'has-error' :
          cmntForm.userName.$error.required && !cmntForm.userName.$pristine }">
          <label for="userName" class="col-md-3">Your name</label>
          <div class="col-md-9">
            <input type="text" name="userName" id="userName" class="form-control" placeholder="Name" ng-model="comment.userName" required>
            <span ng-show="cmntForm.userName.$error.required && !cmntForm.userName.$pristine" class="help-block">Please enter your name</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3">Number of stars</label>
          <div class="col-md-9">

            <label class="radio-inline">
              <input type="radio" name="starRadio" id="oneStarRadio" value="1" ng-model="comment.rating"> 1
            </label>
            <label class="radio-inline">
              <input type="radio" name="starRadio" id="twoStarRadio" value="2" ng-model="comment.rating"> 2
            </label>
            <label class="radio-inline">
              <input type="radio" name="starRadio" id="threeStarRadio" value="3" ng-model="comment.rating" checked="true"> 3
            </label>
            <label class="radio-inline">
              <input type="radio" name="starRadio" id="fourStarRadio" value="4" ng-model="comment.rating"> 4
            </label>
            <label class="radio-inline">
              <input type="radio" name="starRadio" id="fiveStarRadio" value="5" ng-model="comment.rating"> 5
            </label>
          </div>
        </div>
        <div class="form-group"  ng-class="{ 'has-error' :
        cmntForm.cmnt.$error.required && !cmntForm.cmnt.$pristine }">
        <label for="cmnt" class="col-md-3">Your comment for the movie</label>
        <div class="col-md-9">
          <textarea class="form-control" rows="3" name="cmnt" ng-model="comment.cmnt" required></textarea>
          <span ng-show="cmntForm.cmnt.$error.required && !cmntForm.cmnt.$pristine" class="help-block">Please enter a comment</span>
        </div>
      </div>
      <button type="submit" name="submitComment" class="btn btn-primary">Send</button>

    </form>
  </div>
</div>



<script>
  'use strict';

  var app = angular.module('videostore',[]);

  app.service('filmCommentService', function(){

    var film={
     title:'ACADEMY DINOSAUR',
     image: 'images/academy_dinosaur.jpg',
     length: '86',
     price:'4.99',
     release: '2006',
     description:'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies.',
     comments: [
     {
       rating:5,
       comment:"Excelente Pelicula!!",
       author:"John Lemon",
       date:"2017-01-01T17:57:28.556094Z"
     },
     {
       rating:4,
       comment:"Muy recomendada!",
       author:"Paul McVites",
       date:"2017-01-05T17:57:28.556094Z"
     },
     {
       rating:3,
       comment:"Entretenida pero por momentos aburrida",
       author:"Michael Jaikishan",
       date:"2017-01-13T17:57:28.556094Z"
     },
     {
       rating:4,
       comment:"Muy buena!!",
       author:"Ringo Starry",
       date:"2017-01-02T17:57:28.556094Z"
     },
     {
       rating:2,
       comment:"Muy lenta",
       author:"25 Cent",
       date:"2017-01-02T17:57:28.556094Z"
     }

     ]
   };
   function getFilm() { return film; }
   return({
    getFilm: getFilm
  });
 });

  app.controller('filmDetailController', filmDetailController);
  filmDetailController.$inject=['$scope', 'filmCommentService'];
  function filmDetailController($scope, filmCommentService) {

   //  var film={
   //   title:'ACADEMY DINOSAUR',
   //   image: 'images/academy_dinosaur.jpg',
   //   length: '86',
   //   price:'4.99',
   //   release: '2006',
   //   description:'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies.',
   //   comments: [
   //   {
   //     rating:5,
   //     comment:"Excelente Pelicula!!",
   //     author:"John Lemon",
   //     date:"2017-01-01T17:57:28.556094Z"
   //   },
   //   {
   //     rating:4,
   //     comment:"Muy recomendada!",
   //     author:"Paul McVites",
   //     date:"2017-01-05T17:57:28.556094Z"
   //   },
   //   {
   //     rating:3,
   //     comment:"Entretenida pero por momentos aburrida",
   //     author:"Michael Jaikishan",
   //     date:"2017-01-13T17:57:28.556094Z"
   //   },
   //   {
   //     rating:4,
   //     comment:"Muy buena!!",
   //     author:"Ringo Starry",
   //     date:"2017-01-02T17:57:28.556094Z"
   //   },
   //   {
   //     rating:2,
   //     comment:"Muy lenta",
   //     author:"25 Cent",
   //     date:"2017-01-02T17:57:28.556094Z"
   //   }

   //   ]
   // };

   this.film = filmCommentService.getFilm();

   $scope.film = filmCommentService.getFilm();

 }


 app.controller('FilmCommentController', FilmCommentController);
 FilmCommentController.$inject=['$scope', 'filmCommentService'];
 function FilmCommentController($scope, filmCommentService) {
  $scope.submitComment = function() {
    var filmComment = {
      rating: $scope.comment.rating,
      comment: $scope.comment.cmnt,
      author: $scope.comment.userName,
      date: ""
    };
    filmComment.date = new Date().toISOString();
    filmCommentService.getFilm().comments.push(filmComment);
    $scope.cmntForm.$setPristine();
  }
}


</script>
</body>

</html>
