<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="HeaderController">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">
        Video Store
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="{ active: isActive('/#!')}">
        <a href="#!/">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
        </a>
      </li>
      <li class="{ active: isActive('/#!/contact')}">
      <a href="/#!/contact">Contact</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <span class="glyphicon glyphicon-log-in"></span> Login
      </li>
    </ul>
  </div>
</nav>
